@mixin btn-style($color, $background, $hover-background, $shadow) {
  color: $color;
  background-color: $background;
  box-shadow: inset -3px -3px $shadow;
  will-change: transform;
  transition: transform 0.1s ease-in-out;

  &:hover {
    background-color: $hover-background;
    box-shadow: inset -4px -4px $shadow;
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: inset -4px -4px lighten($shadow, 10%);
    transform: translateY(1px);
  }
}
