@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

@import "./variables.scss";

body {
  font-family: $retro-font;
  background-color: $bg-color;
  margin: 0;
}

.menu {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: darken($bg-color, 22%);
  z-index: 2;
  display: flex;
  padding: 8px 12px;
}

.separator {
  flex: 1 1 auto;
}

.search-box {
  flex: 2 1 auto;
}

.pagination {
  flex: 0 0 auto;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 8px;
}
