@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

@import "./variables.scss";
@import "./mixins.scss";

body {
  font-family: $retro-font;
  background-color: $bg-color;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 12px 20px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  margin: 8px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  margin: $border-size;
  font-family: $retro-font;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  @include btn-style($base-color, #fff, #e7e7e7, #adafbc);

  &::before,
  &::after {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    content: "";
    border-color: $base-color;
    border-style: solid;
    border-width: $border-size;
  }

  &::before {
    top: $border-size * -1;
    left: 0;
    border-right: $border-size / 2;
    border-left: $border-size / 2;
  }

  &::after {
    top: 0;
    left: $border-size * -1;
    border-top: $border-size / 2;
    border-bottom: $border-size / 2;
  }

  &:focus {
    outline: 4px solid currentColor;
  }

  $types:
    "primary" $base-color #92cc41 #76c442 #4aa52e,
    "info" $base-color #209cee #108de0 #006bb3,
    "warning" $base-color #f7d51d #f2c409 #e59400,
    "error" $base-color #e76e55 #ce372b #8c2022;

  @each $type in $types {
    &.is-#{nth($type, 1)} {
      @include btn-style(
        nth($type, 2),
        nth($type, 3),
        nth($type, 4),
        nth($type, 5)
      );
    }
  }
}
